<section
  class="xl:h-[693px] xl:pt-0 pt-[30px] xl:pb-0 pb-10 flex justify-center items-center"
>
  <div
    class="container-main flex xl:flex-row flex-col-reverse items-center xl:gap-6 gap-5"
  >
    <img
      class="md:w-[672px] w-full custom:h-[601px] xl:h-auto xl:object-none object-contain h-[268px]"
      src="edgeProduct.webp"
      alt="Овощи"
    />

    <div class="xl:space-y-[60px] space-y-[30px]">
      <h4 class="md:text-left text-center">Почему мы?</h4>

      <div
        class="grid xl:grid-cols-2 grid-cols-1 md:gap-x-[50px] md:gap-y-10 gap-y-5 md:w-[644px] w-full"
      >
        <load
          src="src/components/Edge/Card.html"
          title="Всегда качественный удовлетворяющий вкусовые качества товар"
          icon="edge1.webp"
        />
        <load
          src="src/components/Edge/Card.html"
          title="Поставляем овощи как на внутренний рынок, так и в страны Европы и Азии"
          icon="edge2.webp"
        />
        <load
          src="src/components/Edge/Card.html"
          title="Работаем с физ. лицами, мелко — и крупнооптовыми фирмами, торговыми сетями, ИП и др."
          icon="edge3.webp"
        />
        <load
          src="src/components/Edge/Card.html"
          title="Своевременная и качественная поставка продукции согласно договорённости"
          icon="edge4.webp"
        />
      </div>
    </div>
  </div>
</section>
