<section class="xl:py-[90px] py-10 container-main xl:space-y-[60px] space-y-5">
  <h2 class="xl:text-left text-center">Наша продукция</h2>

  <div
    class="grid 2xl:grid-cols-5 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 xl:gap-[50px] gap-5"
  >
    <load
      src="src/components/Product/Card.html"
      title="Картофель"
      desc="ранних и поздних сортов"
      img="product1.webp"
      imgMobile="product1Mobile.webp"
    />

    <load
      src="src/components/Product/Card.html"
      title="Зерно"
      desc="ранних и поздних сортов"
      img="product2.webp"
      imgMobile="product2Mobile.webp"
    />

    <load
      src="src/components/Product/Card.html"
      title="Рапс"
      desc="ранних и поздних сортов"
      img="product3.webp"
      imgMobile="product3Mobile.webp"
    />

    <load
      src="src/components/Product/Card.html"
      title="Морковь"
      desc="ранних и поздних сортов"
      img="product4.webp"
      imgMobile="product4Mobile.webp"
    />

    <load
      src="src/components/Product/Card.html"
      title="Свёкла"
      desc="ранних и поздних сортов"
      img="product5.webp"
      imgMobile="product5Mobile.webp"
    />
  </div>
</section>
