<section
  class="xl:h-[621px] bg-cover bg-no-repeat xl:bg-[url('bgAbout.webp')] bg-[url('bgAboutMobile.webp')] flex xl:justify-end justify-center items-center xl:gap-[45px] xl:flex-row flex-col gap-2.5 xl:pb-0 pb-5 xl:pt-0 pt-10 xl:px-0 px-2.5"
>
  <div class="xl:space-y-[60px] space-y-5 xl:w-[767px] w-full xl:pl-10 pl-0">
    <h3 class="text-white">О компании</h3>

    <p
      class="text-white xl:text-lg text-base xl:leading-[23.4px] leading-[20.8px]"
    >
      Фермерское хозяйство «Пашкевич Н.П». предлагает вашему выбору широкий
      ассортимент свежих овощей, включая помидоры, огурцы, перцы, капусту,
      морковь, лук, чеснок и многое другое. Зерновые культуры, такие
      как пшеница, кукуруза и ячмень, выращиваются с особым вниманием к качеству
      зерна, что делает их идеальными для применения в бакалейной промышленности
      и пекарнях. Наш картофель уже успел зарекомендовать себя на рынке
      благодаря высокой урожайности и отменным вкусовым качествам. Мы предлагаем
      разнообразие сортов, подходящих как для домашнего приготовления,
      так и для использования в ресторанах и перерабатывающих производствах.
      Мы готовы предоставить нашим клиентам выгодные условия сотрудничества
      и быструю доставку по всей стране и за рубеж. Мы уверены в качестве наших
      продуктов и гарантируем их свежесть и вкус.
    </p>
  </div>

  <img
    class="xl:h-[473px] md:h-[400px] h-[177px] xl:w-[832px] md:w-[600px] w-auto"
    src="aboutProduct.webp"
    alt="Наш продукт"
  />
</section>
