<footer
  class="xl:h-[518px] bg-cover bg-no-repeat xl:bg-[url('bgFooter.webp')] bg-[url('bgFooterMobile.webp')] flex xl:justify-end justify-center xl:items-end items-center text-white"
>
  <div
    class="flex xl:flex-row flex-col xl:gap-[26px] gap-[30px] xl:items-end xl:h-full w-full justify-end"
  >
    <div
      class="xl:w-[556px] custom:pl-0 xl:pl-10 pl-2.5 w-full flex flex-col xl:items-start items-center gap-[30] xl:pb-10 xl:pt-0 pt-10 flex-shrink-0 xl:px-0 px-2.5"
    >
      <div class="xl:space-y-6">
        <div class="xl:flex hidden items-center gap-6">
          <a
            class="leading-[31.69px] font-semibold text-[26px]"
            href="tel:+375292627951"
            >+375 (29) 262 79 51</a
          >

          <ul class="flex items-center gap-3.5">
            <li>
              <load src="/src/components/Social/Telegram.html" />
            </li>

            <li>
              <load src="/src/components/Social/WhatsUp.html" />
            </li>

            <li>
              <load src="/src/components/Social/Viber.html" />
            </li>
          </ul>
        </div>

        <div
          class="flex flex-col gap-3.5 xl:leading-[24.38px] leading-[19.5px] xl:text-xl text-base xl:text-start text-center"
        >
          <a
            target="_blank"
            href="https://yandex.by/maps/geo/53170463/?ll=27.232999%2C54.220829&z=14"
            class="footer-address"
          >
            <span>Юридический адрес:</span><br />
            222333, Минская обл., Молодечненский р-н,<br />
            Радошковичский с/с, 29, вблизи д. Сычевичи
          </a>

          <p>54.225840, 27.238846</p>

          <a
            target="_blank"
            href="https://yandex.by/maps/29630/minsk-district/house/Zk4YdANmT0YHQFtufX13dn9kYg==/?ll=27.247247%2C54.167243&z=16.99"
            class="footer-address"
          >
            <span>Почтовый адрес:</span><br />
            222333, Минская обл., Молодечненский р-н,<br />
            г.п. Радошковичи, ул. Полоцкая 72
          </a>
        </div>
      </div>

      <div class="xl:flex hidden flex-col gap-[5px] leading-[14.63px] text-xs">
        <a target="_blank" href="/">Политика обработки персональных данных</a>

        <p>©2024 Фермерское хозяйство «Пашкевич Н.П».</p>

        <a class="font-light" target="_blank" href="https://artcly.by/"
          >Создание сайта: ArtCly.by</a
        >
      </div>
    </div>

    <iframe
      class="xl:h-full h-[267px] xl:w-[1062px] w-full"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A64e44cda935df3228831613029731ab5ab4b007b963c238046c1eb805041a85e&amp;source=constructor"
      frameborder="0"
    ></iframe>

    <div
      class="xl:hidden flex justify-center items-center flex-col gap-[5px] leading-[14.63px] text-xs pb-[25px] text-center px-2.5"
    >
      <a target="_blank" href="/">Политика обработки персональных данных</a>

      <p>©2024 Фермерское хозяйство «Пашкевич Н.П».</p>

      <a class="font-light" target="_blank" href="https://artcly.by/"
        >Создание сайта: ArtCly.by</a
      >
    </div>
  </div>
</footer>
