<main
  class="custom:h-[920px] xl:h-[800px] xl:bg-[url('bgMain.webp')] bg-[url('bgMainMobile.webp')] text-white flex justify-center xl:items-end items-center xl:pb-[159px] pb-[11px] xl:pt-0 pt-[195.81px] bg-cover bg-no-repeat overflow-hidden"
>
  <div
    class="flex items-center xl:flex-row flex-col xl:gap-11 gap-[30px] container-main"
  >
    <div class="xl:space-y-10 space-y-5 xl:max-w-[635px] xl:flex-shrink-0">
      <h1>Экологически чистые и вкусные овощи по приятным ценам</h1>

      <p
        class="xl:leading-[23.4px] leading-[20.8px] xl:text-lg text-base font-medium"
      >
        Быстрая поставка качественной овощной продукции, зерновых и картофеля
        в любую точку РБ
      </p>

      <a class="btn-main" href="#delivery">Обсудить поставку</a>
    </div>

    <img
      class="custom:h-[556px] md:h-[400px] h-[193px] custom:w-[880px] xl:w-[800px] w-full object-contain flex-shrink-0"
      src="mainProduct.webp"
      alt="Наш продукт"
    />
  </div>
</main>
